/**
 * Leslie WaterWorks - Twenty Seventeen
 */

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700');

body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#header {
	max-width: 120rem;
	margin: 0 auto;
	padding: 2rem;
}

@media only screen and ( max-width: 500px ) {
	#header {
		padding: 1rem;
	}
}

#header .nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .logo-container {
	display: flex;
	align-items: center;
}

#header .logo-container img {
	width: 300px;
	height: 81px;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

@media only screen and ( max-width: 500px ) {
	#header .logo-container img {
		width: 200px;
		height: 54px;
	}
}

#menu a {
	display: inline-flex;
	align-items: center;
	padding: 0 1rem;
	font-size: 2rem;
	color: #333;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.5s ease-in-out;
}

#menu a i {
	font-size: 1rem;
	margin-left: 0.5rem;
}

#menu a:last-child {
	padding-right: 0;
}

#menu a:hover {
	color: #007236;
}

#header .info-panel-container {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

@media only screen and ( max-width: 991px ) {
	#header .info-panel-container {
		opacity: 0;
		visibility: hidden;
	}
}

/*--- TODO Consider Revising ---*/
@media only screen and ( max-width: 768px ) {
	#header .info-panel-container {
		display: none;
	}
}

#header .info-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 2rem;
}

#header .info-panel span:first-child {
	color: #007236;
}

#header .info-panel span:nth-child(2) {
	font-weight: 300;
}

#header .dropdown {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 2rem;
	color: #007236;
	border-radius: 4px;
	padding: 0 1rem;
	font-size: 3.5rem;
	cursor: pointer;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#header .dropdown:hover {
	background-color: #007236;
	color: #fff;
}

@media only screen and ( max-width: 991px ) {
	#header .dropdown {
		opacity: 1;
		visibility: visible;
	}
}

@media only screen and ( max-width: 500px ) {
	#header .dropdown {
		font-size: 2.5rem;
		padding: 0 0.5rem;
	}
}
